werkzeug==2.0.3
flask==2.0.3
azure-ai-textanalytics
python-dotenv==0.19.0
flask-cors==3.0.10
markdown>=3.0.0
pytest==7.3.1
pytest-cov==4.1.0
requests-mock==1.11.0
flask-limiter==3.5.0
flask-jwt-extended==4.5.2
radon==6.0.1
pygments==2.16.1
azure-ai-translation-text
flask-limiter
secrets==1.0.2  # Add if not using Python 3.6+